---
import '../styles.css';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon-32x32.png' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
  </head>
  <body
    class='relative flex h-screen flex-col items-center bg-[#F8EEFF] px-6 pt-[142px] 2xl:pt-[167px]'
  >
    <img
      src='/background-pattern-desktop.svg'
      alt='background image'
      class='absolute left-0 top-0 z-[-1] h-[232px] w-full object-cover 2xl:h-[320px]'
    />
    <slot />
  </body>
</html>
